
:root{
    --size : 11.5px;
    --bigSize: 12.5px;
    --color: #0D47A1;
}
@media screen and (min-width: 1397px){
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    background-color: #FFFAFA	;
}
.content{
    margin-top:1rem;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}
.color-choice{
    margin-right: 5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 15px;
    
}
}
.grid{
    margin:auto;
    display: flex;
    flex-direction: row;
    width: 800px;
    flex-wrap: wrap;
    background-color: white;
}

.coloredGrid{
    padding: var(--size);
    border: 1px black solid  ;
    box-sizing: border-box;
    background-color: var(--color);
}

.bigGrid{
    padding: var(--bigSize);
    background-color: var(--color);
}





input{
    margin: 15px 0 20px 0px;
    background-color:white;
    box-shadow:2px 3px 2px grey;
    
}

.palettes{
    
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.palette{
    width : 15px;
    height: 15px;
    
}
.customPalette,
.paletteContainer
{
    width : 16px;
    height: 75px;
    margin-right: 2rem;
    box-sizing: border-box;
    
    
}
.customPalette:hover,
.paletteContainer:hover{
 
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black;
    
}

.backgroundColor{
    display:flex;
    flex-direction: column;
}



button{
    font-family: arial 'Times New Roman', Times, serif;
    padding: 5px;
    border: none;
    border-radius:3px;
    box-shadow:2px 2px 2px black;
    background-color: white;;
    margin-right: 15px;
    color:black;
}

button:hover{
    background: lightgrey;
}
.color-choice > label{
    font-weight: 900;
}

.top-page{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}
.top-page > input{
    margin-left: 10px;
}

.active{
    border: 1px black solid;
    box-shadow: 3px 3px 3px black;

}


@media (max-width: 1396px){

    body{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFAFA	;
        height:1400px;
       
    }
    
    .content{
        margin-top:1rem;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        height:100%;
        
    }
    .color-choice{
        margin-right: 5rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
}
